img {
height: auto;
width: 400px;
}

p {
background-color: tomato;
color: black;
text-size-adjust: 28px;
font-weight: bold;}

ul {
background-color: rgba(250, 0, 0, 0.87);
color: black;
text-size-adjust: 26px ;
font-weight: lighter;
}

ol {
background-color: red;
color: black;
font-weight: normal;
text-size-adjust: 28px;
}